html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.categorialista {
    text-align:center;
    font-size: 40px;
    color: midnightblue;
    text-transform:capitalize
}

a {
    text-decoration: none;
    
    padding: 3px;
}

a:hover{
    text-decoration:underline;
    color:black;

}

.adicionarnovo {
    font-size: 23px;
    text-transform: capitalize;   
}


thead {
    background-color: cornflowerblue;
}


table,td {
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    background-color:ghostwhite  
}

th {
    font-size: 30px   
}

.categorias {
    text-align:center;
    font-size: 50px;
}

.nav-item{
    font-size: 25px;
}

.navbar-brand{
    font-size: 25px;
}



